# Entornos Virtuales
.venv/
venv/
env/
__pycache__/
*.pyc

# Datos Sensibles (Excel) y Respaldos
DATA SENSIBLE/
DATAS/
RESPALDOS/

# Archivos de configuracion y logs locales
*.log
*.json

# Excepciones (Archivos que si queremos subir aunque sean JSON, si los hay)
# !package.json
